html { background:black; }
body { background:black; color:#e6e6e6; font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial; overflow-x: hidden; }

body #world { opacity: 0; transition: opacity 2000ms; height:100vh; }
body #world.ready { opacity: 1 }

body #wrapper { background:black; margin-top:5px; padding-top:30px; }

body.splash { overflow-y: hidden }
body.splash #wrapper { margin-top: 0px; padding-top:0px }
body.splash #wrapper #logo { position: fixed;width:250px;height:250px;left:calc(50vw - 120px);top:calc(50vh - 180px); }
body.splash #wrapper #intro { position: fixed;width:400px;left:calc(50vw - 200px);top:calc(50vh + 50px); }
body.splash #wrapper #intro h1 { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; font-size:45px; text-align: center; display: block; margin-bottom:30px; }
body.splash #wrapper #intro h2 { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; font-size:20px; text-align: center; display: block; margin-bottom:20px; }
body.splash #wrapper #intro p { text-align: center; text-align: center;line-height: 25px;font-size:18px }
body.splash #wrapper #intro p a { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; text-decoration: underline; }
body.splash #wrapper #intro p a:hover { text-decoration: none; cursor: pointer; }
body.splash #wrapper #social { position: fixed;top:30px;right:30px; }
body.splash #wrapper #social li { float:right; }
body.splash #wrapper #social li#toggle { float:left; font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;font-size:12px; margin-left:0px}
body.splash #wrapper #social li#toggle a { width: 100px; cursor: pointer; }
body.splash #wrapper form { position: fixed;top: 30px;right: 130px;background: white;border-radius: 30px;overflow: hidden;line-height: 26px}
body.splash #wrapper form .email { font-size: 12px;display: inline-block;margin-left: 10px;color: black;line-height: 20px}
body.splash #wrapper form .button { background: black;color: white;font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;font-size: 12px;line-height: 20px;display: inline-block;margin-right: 3px;padding: 0px 10px;border-radius: 30px;position: relative;top:-1px}
body.splash #wrapper form .button:hover { background:#555; cursor: pointer; }
body.splash #wrapper.view #logo { display: none }
body.splash #wrapper.view #intro { display: none }

body #wrapper #logo { display: block; width: 150px; height: 275px; background-image: url(../media/interface/logo.svg);background-size:contain;position: absolute;background-repeat: no-repeat; }

body #wrapper #core { max-width: 700px; overflow: hidden; margin:30px; margin-left:300px; transition: margin-left 500ms; margin-top:135px; padding-bottom:200px;}
body #wrapper #core * { margin-bottom: 30px;}
body #wrapper #core h1 { font-family: "alte_haas_grotesk_regular", "Helvetica Neue", Helvetica, Arial; font-size:45px; text-align:left;}
body #wrapper #core h2 { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; font-size:14px; margin-bottom:30px; color:#555; text-align:left;}
body #wrapper #core h2:before { content:'/'; }
body #wrapper #core h2 a { color:white; }
body #wrapper #core h2 a:hover { text-decoration: underline; text-align:left;}
body #wrapper #core h3 { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; font-size:30px; text-transform: none; text-align:left;}
body #wrapper #core img { max-width: 100%; margin-bottom: 30px; border-radius: 2px; display: block; }
body #wrapper #core img.auto { max-width: 50%;  }
body #wrapper #core img.small { max-height: 150px  }
body #wrapper #core p { line-height: 30px;font-size: 20px;max-width: 650px;text-align: justify; color:#c4c4c4 }
body #wrapper #core p a { text-decoration: underline; }
body #wrapper #core p a:hover { text-decoration: none; background:white; color:black; }
body #wrapper #core p b { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;}
body #wrapper #core p code { display: inline;font-size:15px;padding:2px 0px;border-radius: 3px;margin:0px;color:#ccc;background:transparent; }
body #wrapper #core ul { padding-left:30px; max-width: 560px}
body #wrapper #core ul li { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;font-size: 16px;line-height: 25px;margin-bottom: 0px; }
body #wrapper #core ul li a:hover { text-decoration: none; background:white; color:black; }
body #wrapper #core ul li a { text-decoration: underline; }
body #wrapper #core ul.jump { columns: 3; padding:0px; max-width:800px }
body #wrapper #core ul.jump li { font-size:14px; margin-bottom: 0px }
body #wrapper #core code { background:white; font-family: 'input_mono_regular'; display:block; color:black; line-height: 20px; padding:20px; }
body #wrapper #core code li { display: block; margin-bottom: 0px; font-size:12px; white-space: pre }
body #wrapper #core input { display: inline-block; font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;background:black;border:2px solid white;padding:0px 20px;line-height: 40px;border-radius: 30px;font-size:14px }

body #wrapper #core div.capsule { height:120px;overflow-x: hidden ;border-radius: 3px;border:2px solid #c4c4c4; position: relative; }
body #wrapper #core div.capsule img { height: 100%;border-radius: 0px; float:left; margin-right:30px; }
body #wrapper #core div.capsule h1 { font-size:24px; font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; margin-top:30px; margin-bottom:5px;}

body #wrapper #social { width:calc(100vw - 60px) }
body #wrapper #social li { width:25px; height:25px; display: block; float:left; margin-left:5px; }
body #wrapper #social li a { display: block; width:25px; height:25px; background-size: contain; }
body #wrapper #social li a:hover { color: 0.75 }
body #wrapper #social li a.twitter { background-image: url(../media/interface/icon.twitter.png) }
body #wrapper #social li a.patreon { background-image: url(../media/interface/icon.patreon.png) }
body #wrapper #social li a.youtube { background-image: url(../media/interface/icon.youtube.png) }
body #wrapper #social li a.github { background-image: url(../media/interface/icon.github.png) }

body #wrapper #navi { position: absolute;top: 200px;left:30px;font-size:14px; border-top: 2px solid #c4c4c4;padding-top: 30px; width:240px }
body #wrapper #navi ul { margin-bottom: 30px }
body #wrapper #navi ul li { line-height: 20px; display: block; }
body #wrapper #navi ul li a:hover { text-decoration: underline; }
body #wrapper #navi > ul > li { font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; text-transform: none; margin-bottom: 5px}

/**body #wrapper #footer { border-top:2px solid white; padding:60px 30px; text-align: center }*/
body #wrapper #footer { padding:60px 30px; text-align: center }
body #wrapper #footer p { margin-bottom: 30px; font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial; font-size:14px; }
body #wrapper #footer form { border:2px solid white;display: inline-block;padding:3px;border-radius: 30px;}
body #wrapper #footer form input.email { background:transparent; padding-left:5px; margin-left:10px; }
body #wrapper #footer form input.button { background: white;font-family: "alte_haas_grotesk_bold", "Helvetica Neue", Helvetica, Arial;color: black;padding:0px 15px;line-height: 30px;border-radius: 30px;font-size:14px; }

@media (max-width: 900px) {
  body #wrapper #core { margin-left:30px; max-width:100%; }
  body #wrapper #navi { position: relative;top:0px;left:30px; padding-bottom: 60px }
  body #wrapper ul.jump { columns: 2 !important }
}
